.task-header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: right;
  padding: 0 8%;
}

.task-list-container {
  width: 100%;
  padding: 50px 8% 0;
  position: absolute;
  z-index: 2;
}
