.study-list-container {
  width: 100%;
  padding: 100px 8% 0;
  position: absolute;
  z-index: 2;

  .search-box-wrap {
    margin-bottom: 25px;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .search-box {
      display: flex;

      .ant-input {
        margin-right: 20px;
      }
    }
  }
}
